/* WHOLE PAGE STYTLES  */
* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: fantasy;
    background-image: url('../images/lake1.jpeg');
    background-size: cover;
    background-attachment: fixed;
    /* background-color: green; */
    /* display: flex;
    flex-direction: column; */
  }
  
  /* HEADER STYLES  */
  header {
    padding: 10px;
    background-color: teal;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border-style: ridge;
    border-width: 5px;
    border-radius: 5px;
    border-color: blue;
  }
  header h1 {
    font-weight: bold;
    font-size: 40px;
  }
  header h2 {
    color: white;
  }
  header a {
    text-decoration: none;
    color: white;
  }
  header nav ul li {
    display: inline;
  }
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 20px;
    color:white;
    text-decoration: underline;
  }
  .header-label {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  /* FORM STYLES */

  .form-heading {
    /* display: flex;
    flex-direction: column; */
  text-align: center;
  }
  .formQuestions {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-style: ridge;
    border-width: 5px;
    border-radius: 5px;
    background: rgba(85, 107, 47, 0.75);
    color: white;
  }

  label {
    font-size: 12px;
  }
  .form-input {
    border-style: ridge;
    border-radius: 5px;
    border-width: 2px;
    border-color: darkolivegreen;
    display: block;
    /* padding: 5px; */
    font-size: 12px;
    font-family: fantasy;
    font-weight: bold;
  }
  .form-btn {
    padding: 3px;
    font-size: 12px;
    border-style: ridge;
    border-radius: 5px;
    border-width: 3px;
    width: 40%;
    align-self: center;
    font-family: fantasy;
    margin: 5px;
  }
  section {
    padding: 60px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  /* STYLES */
  #photos {
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
#images {
    height: 250px;
    width: 200px;
    border-style: ridge;
    border-color: blue;
    border-width: 3px;
    border-radius: 5px;
}
  #thumbnails {
      margin:10px;
    }

  /* FOOTER STYLES */
  footer {
    background: teal;
    border-style: ridge;
    border-width: 5px;
    border-radius: 5px;
    border-color: blue;
    margin: 20px;
    color: white;
  }
  footer h2 {
    font-size: 20px;
  }
  footer div {
    text-align: right;
    margin: 10px;
  }
  footer a {
    color: white;
  }
  